<div class="col-lg-12 text-center">
    <h1 class="text-white">Bienvenue sur <strong>SOCIAL</strong></h1>
    <p class="text-white lead">
    Rejoignez le réseau social des <strong>Développeurs du Bénin</strong>, augmentez vos compétences, trouvez du travail, partagez vos connaissances et restez en contact avec d'autres développeurs, trouver des réponses aux problèmes que vous rencontrés en posant simplement le problème à la communauté.
    </p>
    <p>
        <%= link_to "Okay, je rejoint la communauté !", new_user_registration_path, class: "btn btn-secondary btn-lgt btn-lg" %>
    </p> 
</div>
