<div class="col-lg-12 text-center">

    <!-- Rejoignez le réseau social des Bénin Développers, augmentez vos compétences, trouvez du travail, gérez des projets ... -->

    <h1 class="text-white">Bienvenue sur <strong>SOCIAL</strong></h1>
    <h2 class="text-white">Le réseau social de questions et réponses qui connecte les développeurs du Bénin.</h2>
    <p class="text-white lead">
        Avec <strong>SOCIAL</strong>, partagez vos connaissances et restez en contact avec d'autres développeurs, trouver des réponses aux problèmes rencontrés et trouver un emploi de <strong>Dev</strong>.
    </p>
    <p>
        <%= link_to "Rejoidre la communauté.", new_user_registration_path, class: "btn btn-secondary btn-lgt" %>
    </p> 
</div>
